<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="../assests/bootstrap-4.0.0-alpha.6-dist/css/bootstrap.min.css">
    <style type="text/css">
        h1 {
            text-align: center;
        }

        table {
            margin-top: 50px;
        }

        th {
            background-color: #4CAF50;
            color: white;
        }
    </style>
</head>

<body>
    <h1>Danh sách các khóa học được chia sẻ miễn phí</h1>
    <div class="container">
        <table class="table table-dark table-hover">
            <tr>
                <th>STT</th>
                <th>Tên khóa học</th>
                <th>Danh sách bài học</th>
                <th>Trang gốc của khóa học</th>
            </tr>
            <tr>
                <% courses.forEach((course, index) => { %>
                    <tr>
                        <td>
                            <%= index + 1 %>
                        </td>
                        <td>
                            <%= course.name %>
                        </td>
                        <td>
                            <% course.videos.sort().forEach(video => { %>
                                <a href="<%= video.link %>">
                                    <%= video.name %>
                                </a>
                                <br>
                                <% }); %>
                        </td>
                        <td>
                            <a href="<%= course.link %>" target="_blink">Xem</a>
                        </td>
                    </tr>

                    <% }); %>
            </tr>
        </table>
    </div>

    <script src="../assests/jquery-3.2.1.min.js"></script>
    <script src="../assests/bootstrap-4.0.0-alpha.6-dist/js/bootstrap.min.js"></script>
</body>

</html>